@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .min-h-60 {
    min-height: 60%;
  }

  .loader-top-border {
    border-top: 0.5rem solid #ff0647
  }
}

*, *:after, *:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
}

html, body, #root {
  height: 100%;
}

img {
  border: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


